@tailwind base;
@tailwind components;
@tailwind utilities;
.liked {
    color: rgb(225, 58, 86);
}

.like-toggle {
    cursor: pointer;
}

.reserved {
    color: rgb(0, 255, 0);
}

.like-toggle {
    cursor: pointer;
}